extends layout

block content
  h1= title
 
 nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Our Project
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='/food-courts') About Us
      